/Doxyfile
/Makefile
/README
allinone/*.db
allinone/*.ncb
allinone/*.opendb
allinone/*.opensdf
allinone/*.opt
allinone/*.sdf
allinone/*.suo
allinone/.vs
allinone/Debug
allinone/ipch
/autom4te.cache
/bin
common/*.ao
common/*.d
common/*.o
common/*.plg
common/*.vcxproj.user
common/Debug
common/Generated[!!-~]Files
common/Makefile
common/Makefile.local
common/Release
common/common.res
common/common.vcproj.*.*.user
common/debug
common/icucfg.h
common/libicu*.*
common/release
common/svchook.mk
common/unicode/platform.h
common/x64
common/x86
/config.cache
/config.log
/config.status
config/Makefile.inc
config/icu-*.pc
config/icu-config
config/icu-config.1
config/icu.pc
config/icu.pc.out
config/icucross.inc
config/icucross.mk
config/icuinfo.xml
config/pkgdata.inc
config/pkgdataMakefile
/configure-local.mk
data/*.plg
data/*.vcxproj.user
data/Debug
data/Makefile
data/Release
data/build-dir
data/build-local
data/data
data/icupkg.inc
data/in
data/makedata.vcproj.*.*.user
data/obj
data/out
data/packagedata
data/pkgdataMakefile
data/uni-core-data
data/x64
data/x86
/dist
/doc
extra/Makefile
extra/scrptrun/Makefile
extra/scrptrun/scrptrun.d
extra/scrptrun/srtest
extra/scrptrun/srtest.d
extra/uconv/*.d
extra/uconv/*.o
extra/uconv/*.vcxproj.user
extra/uconv/Debug
extra/uconv/Makefile
extra/uconv/Release
extra/uconv/debug
extra/uconv/pkgdata.inc
extra/uconv/pkgdataMakefile
extra/uconv/pkgdatain.txt
extra/uconv/release
extra/uconv/resources/*.res
extra/uconv/uconv
extra/uconv/uconv.1
extra/uconv/uconv.plg
extra/uconv/uconv.vcproj.*.*.user
extra/uconv/uconvmsg
extra/uconv/x64
extra/uconv/x86
i18n/*.ao
i18n/*.d
i18n/*.o
i18n/*.plg
i18n/*.vcxproj.user
i18n/Debug
i18n/Generated[!!-~]Files
i18n/Makefile
i18n/Makefile.local
i18n/Release
i18n/debug
i18n/i18n.res
i18n/i18n.vcproj.*.*.user
i18n/release
i18n/x64
i18n/x86
/icudefs.local
/icudefs.mk
io/*.ao
io/*.d
io/*.o
io/*.vcxproj.user
io/Debug
io/Makefile
io/Release
io/debug
io/io.res
io/io.vcproj.*.*.user
io/release
io/x64
io/x86
layoutex/*.ao
layoutex/*.d
layoutex/*.o
layoutex/*.pdb
layoutex/*.vcxproj.user
layoutex/Debug
layoutex/Makefile
layoutex/Release
layoutex/debug
layoutex/layoutex.res
layoutex/layoutex.vcproj.*.*.user
layoutex/release
layoutex/x64
layoutex/x86
/lib
/perf-*.xml
samples/*.opensdf
samples/*.sdf
samples/Makefile
samples/all/*.opensdf
samples/all/*.sdf
samples/all/all.ncb
samples/all/all.suo
samples/break/*.vcxproj.user
samples/break/Debug
samples/break/break
samples/break/break.exe
samples/break/break.out
samples/break/break.vcproj.*.*.user
samples/break/release
samples/break/x64
samples/break/x86
samples/cal/*.d
samples/cal/*.pdb
samples/cal/*.vcxproj.user
samples/cal/Debug
samples/cal/Makefile
samples/cal/Release
samples/cal/cal.vcproj.*.*.user
samples/cal/icucal
samples/cal/icucal.exe
samples/cal/release
samples/cal/x64
samples/cal/x86
samples/case/*.vcxproj.user
samples/case/Debug
samples/case/case
samples/case/case.exe
samples/case/case.out
samples/case/case.vcproj.*.*.user
samples/case/release
samples/case/x64
samples/case/x86
samples/citer/*.vcxproj.user
samples/citer/Debug
samples/citer/Release
samples/citer/citer
samples/citer/citer.exe
samples/citer/citer.out
samples/citer/citer.vcproj.*.*.user
samples/citer/release
samples/citer/x64
samples/citer/x86
samples/coll/*.vcxproj.user
samples/coll/Debug
samples/coll/coll.vcproj.*.*.user
samples/coll/release
samples/coll/x64
samples/coll/x86
samples/csdet/*.vcxproj.user
samples/csdet/Debug
samples/csdet/Makefile
samples/csdet/csdet
samples/csdet/csdet.exe
samples/csdet/csdet.out
samples/csdet/csdet.vcproj.*.*.user
samples/csdet/release
samples/csdet/x64
samples/csdet/x86
samples/date/*.d
samples/date/*.pdb
samples/date/*.vcxproj.user
samples/date/Debug
samples/date/Makefile
samples/date/Release
samples/date/date.vcproj.*.*.user
samples/date/icudate
samples/date/icudate.exe
samples/date/release
samples/date/x64
samples/date/x86
samples/datefmt/*.vcxproj.user
samples/datefmt/Debug
samples/datefmt/datefmt
samples/datefmt/datefmt.out
samples/datefmt/datefmt.vcproj.*.*.user
samples/datefmt/release
samples/datefmt/x64
samples/datefmt/x86
samples/layout/*.d
samples/layout/*.pdb
samples/layout/*.vcxproj.user
samples/layout/Debug
samples/layout/Makefile
samples/layout/Release
samples/layout/layout.vcproj.*.*.user
samples/layout/release
samples/layout/tmp
samples/layout/x64
samples/layout/x86
samples/legacy/*.vcxproj.user
samples/legacy/Debug
samples/legacy/legacy.vcproj.*.*.user
samples/legacy/release
samples/legacy/x64
samples/legacy/x86
samples/msgfmt/*.vcxproj.user
samples/msgfmt/Debug
samples/msgfmt/msgfmt
samples/msgfmt/msgfmt.out
samples/msgfmt/msgfmt.vcproj.*.*.user
samples/msgfmt/release
samples/msgfmt/x64
samples/msgfmt/x86
samples/numfmt/*.vcxproj.user
samples/numfmt/Debug
samples/numfmt/numfmt
samples/numfmt/numfmt.exe
samples/numfmt/numfmt.out
samples/numfmt/numfmt.vcproj.*.*.user
samples/numfmt/release
samples/numfmt/x64
samples/numfmt/x86
samples/props/*.vcxproj.user
samples/props/Debug
samples/props/props
samples/props/props.exe
samples/props/props.out
samples/props/props.vcproj.*.*.user
samples/props/release
samples/props/x64
samples/props/x86
samples/strsrch/*.vcxproj.user
samples/strsrch/Debug
samples/strsrch/release
samples/strsrch/strsrch.vcproj.*.*.user
samples/strsrch/x64
samples/strsrch/x86
samples/translit/*.vcxproj.user
samples/translit/Debug
samples/translit/release
samples/translit/translit
samples/translit/translit.exe
samples/translit/translit.out
samples/translit/translit.vcproj.*.*.user
samples/translit/x64
samples/translit/x86
samples/uciter8/*.vcxproj.user
samples/uciter8/Debug
samples/uciter8/release
samples/uciter8/uciter8
samples/uciter8/uciter8.exe
samples/uciter8/uciter8.out
samples/uciter8/uciter8.vcproj.*.*.user
samples/uciter8/x64
samples/uciter8/x86
samples/ucnv/*.vcxproj.user
samples/ucnv/Debug
samples/ucnv/convsamp
samples/ucnv/convsamp.out
samples/ucnv/data40.utf16
samples/ucnv/data46.out
samples/ucnv/release
samples/ucnv/ucnv.vcproj.*.*.user
samples/ucnv/x64
samples/ucnv/x86
samples/udata/*.dat
samples/udata/*.vcxproj.user
samples/udata/Debug
samples/udata/reader
samples/udata/reader.exe
samples/udata/reader.out
samples/udata/reader.vcproj.*.*.user
samples/udata/reader_Win32_Debug
samples/udata/reader_win32_release
samples/udata/release
samples/udata/writer
samples/udata/writer.exe
samples/udata/writer.out
samples/udata/writer.vcproj.*.*.user
samples/udata/x64
samples/udata/x86
samples/ufortune/*.vcxproj.user
samples/ufortune/Debug
samples/ufortune/Release
samples/ufortune/resources/*.a
samples/ufortune/resources/*.dat
samples/ufortune/resources/*.dll
samples/ufortune/resources/*.exp
samples/ufortune/resources/*.lib
samples/ufortune/resources/*.obj
samples/ufortune/resources/*.res
samples/ufortune/resources/*.s
samples/ufortune/ufortune
samples/ufortune/ufortune.exe
samples/ufortune/ufortune.out
samples/ufortune/ufortune.vcproj.*.*.user
samples/ufortune/x64
samples/ufortune/x86
samples/ugrep/*.vcxproj.user
samples/ugrep/debug
samples/ugrep/release
samples/ugrep/ugrep
samples/ugrep/ugrep.exe
samples/ugrep/ugrep.out
samples/ugrep/ugrep.vcproj.*.*.user
samples/ugrep/x64
samples/ugrep/x86
samples/uresb/*.res
samples/uresb/*.vcxproj.user
samples/uresb/Debug
samples/uresb/release
samples/uresb/resources.vcproj.*.*.user
samples/uresb/resources_Win32_Debug
samples/uresb/uresb
samples/uresb/uresb.exe
samples/uresb/uresb.out
samples/uresb/uresb.vcproj.*.*.user
samples/uresb/x64
samples/uresb/x86
samples/ustring/*.vcxproj.user
samples/ustring/Debug
samples/ustring/release
samples/ustring/ustring
samples/ustring/ustring.exe
samples/ustring/ustring.out
samples/ustring/ustring.vcproj.*.*.user
samples/ustring/x64
samples/ustring/x86
stubdata/*.ao
stubdata/*.d
stubdata/*.o
stubdata/*.plg
stubdata/*.vcxproj.user
stubdata/Debug
stubdata/Makefile
stubdata/Release
stubdata/cygicudata*.*
stubdata/debug
stubdata/libicu*.*
stubdata/libsicu*.*
stubdata/release
stubdata/stubdata.vcproj.*.*.user
stubdata/stubdatabuilt.txt
stubdata/x64
stubdata/x86
/test-*.xml
test/Makefile
test/cintltst/*.d
test/cintltst/*.dSYM
test/cintltst/*.o
test/cintltst/*.plg
test/cintltst/*.vcxproj.user
test/cintltst/Debug
test/cintltst/Makefile
test/cintltst/Makefile.local
test/cintltst/Release
test/cintltst/cintltst
test/cintltst/cintltst.exe
test/cintltst/cintltst.vcproj.*.*.user
test/cintltst/debug
test/cintltst/release
test/cintltst/x64
test/cintltst/x86
test/compat/Makefile
test/hdrtst/*.[co]
test/hdrtst/Makefile
test/hdrtst/cfiles.txt
test/intltest/*.d
test/intltest/*.o
test/intltest/*.plg
test/intltest/*.vcxproj.user
test/intltest/Debug
test/intltest/Makefile
test/intltest/Makefile.local
test/intltest/Release
test/intltest/debug
test/intltest/intltest
test/intltest/intltest.exe
test/intltest/intltest.vcproj.*.*.user
test/intltest/release
test/intltest/x64
test/intltest/x86
test/iotest/*.d
test/iotest/*.dSYM
test/iotest/*.o
test/iotest/*.vcxproj.user
test/iotest/Debug
test/iotest/Makefile
test/iotest/Release
test/iotest/debug
test/iotest/iotest
test/iotest/iotest.exe
test/iotest/iotest.vcproj.*.*.user
test/iotest/release
test/iotest/x64
test/iotest/x86
test/letest/*.d
test/letest/*.o
test/letest/*.opensdf
test/letest/*.sdf
test/letest/*.vcxproj.user
test/letest/Debug
test/letest/Makefile
test/letest/Release
test/letest/debug
test/letest/letest
test/letest/letest.exe
test/letest/letest.vcproj.*.*.user
test/letest/release
test/letest/x64
test/letest/x86
test/perf/*.ncb
test/perf/*.opendf
test/perf/*.sdf
test/perf/*.suo
test/perf/DateFmtPerf/*.vcxproj.user
test/perf/DateFmtPerf/DateFmtPerf
test/perf/DateFmtPerf/DateFmtPerf.d
test/perf/DateFmtPerf/Debug
test/perf/DateFmtPerf/Makefile
test/perf/DateFmtPerf/Release
test/perf/DateFmtPerf/x64
test/perf/DateFmtPerf/x86
test/perf/Makefile
test/perf/charperf/*.d
test/perf/charperf/*.o
test/perf/charperf/*.vcxproj.user
test/perf/charperf/Debug
test/perf/charperf/Makefile
test/perf/charperf/Release
test/perf/charperf/charperf
test/perf/charperf/charperf.vcproj.*.*.user
test/perf/charperf/debug
test/perf/charperf/release
test/perf/charperf/x64
test/perf/charperf/x86
test/perf/collationperf/*.d
test/perf/collationperf/Makefile
test/perf/collationperf/collperf
test/perf/collationperf/collperf.exe
test/perf/collperf/*.d
test/perf/collperf/*.o
test/perf/collperf/*.vcxproj.user
test/perf/collperf/Debug
test/perf/collperf/Makefile
test/perf/collperf/Release
test/perf/collperf/collperf
test/perf/collperf/collperf.vcproj.*.*.user
test/perf/collperf/debug
test/perf/collperf/release
test/perf/collperf/x64
test/perf/collperf/x86
test/perf/collperf2/*.vcxproj.user
test/perf/collperf2/Makefile
test/perf/collperf2/collperf2
test/perf/collperf2/collperf2.d
test/perf/collperf2/x64
test/perf/collperf2/x86
test/perf/convperf/*.vcxproj.user
test/perf/convperf/Makefile
test/perf/convperf/convperf.vcproj.*.*.user
test/perf/convperf/debug
test/perf/convperf/release
test/perf/convperf/x64
test/perf/convperf/x86
test/perf/dicttrieperf/Makefile
test/perf/howExpensiveIs/*.d
test/perf/howExpensiveIs/*.xml
test/perf/howExpensiveIs/Makefile
test/perf/howExpensiveIs/howExpensiveIs
test/perf/ipch
test/perf/leperf/Makefile
test/perf/normperf/*.d
test/perf/normperf/*.o
test/perf/normperf/*.vcxproj.user
test/perf/normperf/Debug
test/perf/normperf/Makefile
test/perf/normperf/Release
test/perf/normperf/debug
test/perf/normperf/normperf
test/perf/normperf/normperf.vcproj.*.*.user
test/perf/normperf/release
test/perf/normperf/x64
test/perf/normperf/x86
test/perf/strsrchperf/*.vcxproj.user
test/perf/strsrchperf/Makefile
test/perf/strsrchperf/x64
test/perf/strsrchperf/x86
test/perf/ubrkperf/*.d
test/perf/ubrkperf/*.o
test/perf/ubrkperf/*.vcxproj.user
test/perf/ubrkperf/Debug
test/perf/ubrkperf/Makefile
test/perf/ubrkperf/Release
test/perf/ubrkperf/debug
test/perf/ubrkperf/release
test/perf/ubrkperf/ubrkperf
test/perf/ubrkperf/ubrkperf.vcproj.*.*.user
test/perf/ubrkperf/x64
test/perf/ubrkperf/x86
test/perf/ucnvavailperf/*.vcxproj.user
test/perf/ucnvavailperf/x64
test/perf/ucnvavailperf/x86
test/perf/unisetperf/*.d
test/perf/unisetperf/*.o
test/perf/unisetperf/*.vcxproj.user
test/perf/unisetperf/Debug
test/perf/unisetperf/Makefile
test/perf/unisetperf/Release
test/perf/unisetperf/debug
test/perf/unisetperf/release
test/perf/unisetperf/unisetperf
test/perf/unisetperf/unisetperf.vcproj.*.*.user
test/perf/unisetperf/x64
test/perf/unisetperf/x86
test/perf/usetperf/*.d
test/perf/usetperf/*.o
test/perf/usetperf/*.vcxproj.user
test/perf/usetperf/Debug
test/perf/usetperf/Makefile
test/perf/usetperf/Release
test/perf/usetperf/debug
test/perf/usetperf/release
test/perf/usetperf/usetperf
test/perf/usetperf/usetperf.vcproj.*.*.user
test/perf/usetperf/x64
test/perf/usetperf/x86
test/perf/ustrperf/*.d
test/perf/ustrperf/*.o
test/perf/ustrperf/*.vcxproj.user
test/perf/ustrperf/Debug
test/perf/ustrperf/Makefile
test/perf/ustrperf/Release
test/perf/ustrperf/charperf
test/perf/ustrperf/debug
test/perf/ustrperf/release
test/perf/ustrperf/stringperf
test/perf/ustrperf/stringperf.vcproj.*.*.user
test/perf/ustrperf/x64
test/perf/ustrperf/x86
test/perf/utfperf/*.d
test/perf/utfperf/*.o
test/perf/utfperf/*.vcxproj.user
test/perf/utfperf/Debug
test/perf/utfperf/Makefile
test/perf/utfperf/Release
test/perf/utfperf/debug
test/perf/utfperf/release
test/perf/utfperf/utfperf
test/perf/utfperf/utfperf.vcproj.*.*.user
test/perf/utfperf/x64
test/perf/utfperf/x86
test/perf/utrie2perf/*.vcxproj.user
test/perf/utrie2perf/Makefile
test/perf/utrie2perf/utrie2perf
test/perf/utrie2perf/utrie2perf.d
test/perf/utrie2perf/x64
test/perf/utrie2perf/x86
test/testdata/Makefile
test/testdata/out
test/testdata/pkgdata.inc
test/testdata/pkgdataMakefile
test/testmap/*.d
test/testmap/Debug
test/testmap/Makefile
test/testmap/Release
test/testmap/testmap
test/testmap/testmap.plg
test/thaitest/Makefile
test/tmp
tools/Makefile
tools/ctestfw/*.ao
tools/ctestfw/*.d
tools/ctestfw/*.o
tools/ctestfw/*.pdb
tools/ctestfw/*.vcxproj.user
tools/ctestfw/*icutest*.dll
tools/ctestfw/*icutest*.exp
tools/ctestfw/*icutest*.lib
tools/ctestfw/*icutest*.lnk
tools/ctestfw/Debug
tools/ctestfw/Makefile
tools/ctestfw/Release
tools/ctestfw/ctestfw.vcproj.*.*.user
tools/ctestfw/debug
tools/ctestfw/libicutest*
tools/ctestfw/libsicutest*
tools/ctestfw/release
tools/ctestfw/x64
tools/ctestfw/x86
tools/genbrk/*.d
tools/genbrk/*.o
tools/genbrk/*.pdb
tools/genbrk/*.plg
tools/genbrk/*.vcxproj.user
tools/genbrk/Debug
tools/genbrk/Makefile
tools/genbrk/Release
tools/genbrk/debug
tools/genbrk/genbrk
tools/genbrk/genbrk.1
tools/genbrk/genbrk.vcproj.*.*.user
tools/genbrk/release
tools/genbrk/x64
tools/genbrk/x86
tools/genccode/*.d
tools/genccode/*.o
tools/genccode/*.pdb
tools/genccode/*.plg
tools/genccode/*.vcxproj.user
tools/genccode/Debug
tools/genccode/Makefile
tools/genccode/Release
tools/genccode/debug
tools/genccode/genccode
tools/genccode/genccode.8
tools/genccode/genccode.vcproj.*.*.user
tools/genccode/release
tools/genccode/x64
tools/genccode/x86
tools/gencfu/*.d
tools/gencfu/*.o
tools/gencfu/*.pdb
tools/gencfu/*.vcxproj.user
tools/gencfu/Debug
tools/gencfu/Makefile
tools/gencfu/Release
tools/gencfu/debug
tools/gencfu/gencfu
tools/gencfu/gencfu.1
tools/gencfu/gencfu.exe
tools/gencfu/gencfu.vcproj.*.*.user
tools/gencfu/release
tools/gencfu/x64
tools/gencfu/x86
tools/gencmn/*.d
tools/gencmn/*.o
tools/gencmn/*.pdb
tools/gencmn/*.plg
tools/gencmn/*.vcxproj.user
tools/gencmn/Debug
tools/gencmn/Makefile
tools/gencmn/Release
tools/gencmn/debug
tools/gencmn/gencmn
tools/gencmn/gencmn.8
tools/gencmn/gencmn.[0-9]
tools/gencmn/gencmn.vcproj.*.*.user
tools/gencmn/release
tools/gencmn/x64
tools/gencmn/x86
tools/gencnval/*.d
tools/gencnval/*.ncb
tools/gencnval/*.o
tools/gencnval/*.opt
tools/gencnval/*.pdb
tools/gencnval/*.plg
tools/gencnval/*.vcxproj.user
tools/gencnval/Debug
tools/gencnval/Makefile
tools/gencnval/Release
tools/gencnval/debug
tools/gencnval/gencnval
tools/gencnval/gencnval.1
tools/gencnval/gencnval.[0-9]
tools/gencnval/gencnval.vcproj.*.*.user
tools/gencnval/release
tools/gencnval/x64
tools/gencnval/x86
tools/gencolusb/Makefile.local
tools/gencolusb/extract_unsafe_backwards
tools/gencolusb/verify_uset
tools/gendict/*.1
tools/gendict/*.d
tools/gendict/*.o
tools/gendict/*.pdb
tools/gendict/*.plg
tools/gendict/*.vcxproj.user
tools/gendict/Debug
tools/gendict/Makefile
tools/gendict/Release
tools/gendict/x64
tools/gendict/x86
tools/gennorm2/*.d
tools/gennorm2/*.o
tools/gennorm2/*.pdb
tools/gennorm2/*.plg
tools/gennorm2/*.vcxproj.user
tools/gennorm2/Debug
tools/gennorm2/Makefile
tools/gennorm2/Release
tools/gennorm2/debug
tools/gennorm2/gennorm2
tools/gennorm2/gennorm2.[0-9]
tools/gennorm2/gennorm2.vcproj.*.*.user
tools/gennorm2/release
tools/gennorm2/x64
tools/gennorm2/x86
tools/genrb/*.1
tools/genrb/*.d
tools/genrb/*.o
tools/genrb/*.pdb
tools/genrb/*.plg
tools/genrb/*.vcxproj.user
tools/genrb/Debug
tools/genrb/Makefile
tools/genrb/Makefile.local
tools/genrb/Release
tools/genrb/debug
tools/genrb/derb
tools/genrb/derb.[0-9]
tools/genrb/derb.vcproj.*.*.user
tools/genrb/derb_*
tools/genrb/genrb
tools/genrb/genrb.[0-9]
tools/genrb/genrb.vcproj.*.*.user
tools/genrb/release
tools/genrb/temp
tools/genrb/x64
tools/genrb/x86
tools/genren/ICUunrenamed
tools/genren/Makefile.local
tools/genren/urename.*
tools/gensprep/*.8
tools/gensprep/*.d
tools/gensprep/*.o
tools/gensprep/*.pdb
tools/gensprep/*.vcxproj.user
tools/gensprep/Debug
tools/gensprep/Makefile
tools/gensprep/Release
tools/gensprep/debug
tools/gensprep/gensprep
tools/gensprep/gensprep.[0-9]
tools/gensprep/gensprep.plg
tools/gensprep/gensprep.vcproj.*.*.user
tools/gensprep/release
tools/gensprep/x64
tools/gensprep/x86
tools/gentest/*.d
tools/gentest/*.o
tools/gentest/*.pdb
tools/gentest/*.vcxproj.user
tools/gentest/Debug
tools/gentest/Makefile
tools/gentest/Release
tools/gentest/debug
tools/gentest/gentest
tools/gentest/gentest.exe
tools/gentest/gentest.vcproj.*.*.user
tools/gentest/release
tools/gentest/x64
tools/gentest/x86
tools/icuinfo/*.d
tools/icuinfo/*.dSYM
tools/icuinfo/*.dylib
tools/icuinfo/*.o
tools/icuinfo/*.so
tools/icuinfo/*.user
tools/icuinfo/*.vcxproj.user
tools/icuinfo/Debug
tools/icuinfo/Makefile
tools/icuinfo/Makefile.local
tools/icuinfo/icuinfo
tools/icuinfo/icuinfo.exe
tools/icuinfo/icuplugins*.txt
tools/icuinfo/x64
tools/icuinfo/x86
tools/icupkg/*.8
tools/icupkg/*.d
tools/icupkg/*.ncb
tools/icupkg/*.o
tools/icupkg/*.opt
tools/icupkg/*.pdb
tools/icupkg/*.plg
tools/icupkg/*.vcxproj.user
tools/icupkg/Debug
tools/icupkg/Makefile
tools/icupkg/Release
tools/icupkg/debug
tools/icupkg/icupkg
tools/icupkg/icupkg.[0-9]
tools/icupkg/icupkg.vcproj.*.*.user
tools/icupkg/release
tools/icupkg/x64
tools/icupkg/x86
tools/icuswap/*.d
tools/icuswap/*.ncb
tools/icuswap/*.o
tools/icuswap/*.opt
tools/icuswap/*.pdb
tools/icuswap/*.plg
tools/icuswap/Debug
tools/icuswap/Makefile
tools/icuswap/Release
tools/icuswap/debug
tools/icuswap/icuswap
tools/icuswap/icuswap.[0-9]
tools/icuswap/icuswap.vcproj.*.*.user
tools/icuswap/release
tools/makeconv/*.1
tools/makeconv/*.d
tools/makeconv/*.o
tools/makeconv/*.pdb
tools/makeconv/*.plg
tools/makeconv/*.vcxproj.user
tools/makeconv/Debug
tools/makeconv/Makefile
tools/makeconv/Release
tools/makeconv/debug
tools/makeconv/makeconv
tools/makeconv/makeconv.[0-9]
tools/makeconv/makeconv.vcproj.*.*.user
tools/makeconv/release
tools/makeconv/x64
tools/makeconv/x86
tools/pkgdata/*.1
tools/pkgdata/*.d
tools/pkgdata/*.ncb
tools/pkgdata/*.o
tools/pkgdata/*.opt
tools/pkgdata/*.pdb
tools/pkgdata/*.vcxproj.user
tools/pkgdata/Debug
tools/pkgdata/Makefile
tools/pkgdata/Release
tools/pkgdata/debug
tools/pkgdata/icupkg.inc
tools/pkgdata/pkgdata
tools/pkgdata/pkgdata.[0-9]
tools/pkgdata/pkgdata.vcproj.*.*.user
tools/pkgdata/release
tools/pkgdata/x64
tools/pkgdata/x86
tools/toolutil/*.ao
tools/toolutil/*.d
tools/toolutil/*.ncb
tools/toolutil/*.o
tools/toolutil/*.opt
tools/toolutil/*.pdb
tools/toolutil/*.plg
tools/toolutil/*.vcxproj.user
tools/toolutil/Debug
tools/toolutil/Makefile
tools/toolutil/Release
tools/toolutil/debug
tools/toolutil/libicu*
tools/toolutil/release
tools/toolutil/toolutil.vcproj.*.*.user
tools/toolutil/x64
tools/toolutil/x86
tools/tzcode/*.ao
tools/tzcode/*.o
tools/tzcode/Makefile
/uconfig.h.prepend
