* text=auto !eol

*.c text !eol
*.cc text !eol
*.classpath text !eol
*.cpp text !eol
*.css text !eol
*.dsp text !eol
*.dsw text !eol
*.filters text !eol
*.h text !eol
*.htm text !eol
*.html text !eol
*.in text !eol
*.java text !eol
*.launch text !eol
*.mak text !eol
*.md text !eol
*.MF text !eol
*.mk text !eol
*.pl text !eol
*.pm text !eol
*.project text !eol
*.properties text !eol
*.py text !eol
*.rc text !eol
*.sh text eol=lf
*.sln text !eol
*.stub text !eol
*.txt text !eol
*.ucm text !eol
*.vcproj text !eol
*.vcxproj text !eol
*.xml text !eol
*.xsl text !eol
*.xslt text !eol
Makefile text !eol
configure text !eol
LICENSE text !eol
README text !eol

*.bin -text
*.brk -text
*.cnv -text
*.icu -text
*.res -text
*.nrm -text
*.spp -text
*.tri2 -text

trunk/source/common/dtintrv.cpp -text
trunk/source/common/mutex.cpp -text
trunk/source/common/unicode/dtintrv.h -text
trunk/source/data/coll/bn_IN.txt -text
trunk/source/data/coll/pa_Arab.txt -text
trunk/source/data/coll/pa_Arab_PK.txt -text
trunk/source/data/coll/pa_Guru.txt -text
trunk/source/data/coll/pa_Guru_IN.txt -text
trunk/source/data/coll/ur.txt -text
trunk/source/data/coll/ur_IN.txt -text
trunk/source/data/coll/ur_PK.txt -text
trunk/source/data/icu4j-readme.txt -text
trunk/source/data/locales/fr_SN.txt -text
trunk/source/data/locales/ha.txt -text
trunk/source/data/locales/ha_Latn.txt -text
trunk/source/data/locales/ha_Latn_NG.txt -text
trunk/source/data/locales/ha_NG.txt -text
trunk/source/data/locales/ii.txt -text
trunk/source/data/locales/ii_CN.txt -text
trunk/source/data/locales/kk_Cyrl.txt -text
trunk/source/data/locales/kk_Cyrl_KZ.txt -text
trunk/source/data/locales/ne.txt -text
trunk/source/data/locales/ne_IN.txt -text
trunk/source/data/locales/ne_NP.txt -text
trunk/source/data/locales/pa_Arab.txt -text
trunk/source/data/locales/pa_Arab_PK.txt -text
trunk/source/data/locales/pa_PK.txt -text
trunk/source/data/locales/si.txt -text
trunk/source/data/locales/si_LK.txt -text
trunk/source/data/locales/zh_Hans_HK.txt -text
trunk/source/data/locales/zh_Hans_MO.txt -text
trunk/source/data/misc/likelySubtags.txt -text
trunk/source/data/misc/plurals.txt -text
trunk/source/data/xml/collation/bn_IN.xml -text
trunk/source/data/xml/collation/ur.xml -text
trunk/source/data/xml/main/ha.xml -text
trunk/source/data/xml/main/ha_Latn.xml -text
trunk/source/data/xml/main/in.xml -text
trunk/source/data/xml/main/kk_Cyrl.xml -text
trunk/source/data/xml/main/ne.xml -text
trunk/source/data/xml/main/pa_Arab.xml -text
trunk/source/data/xml/main/pa_PK.xml -text
trunk/source/data/xml/main/si.xml -text
trunk/source/data/xml/main/zu.xml -text
trunk/source/i18n/dtitv_impl.h -text
trunk/source/i18n/dtitvfmt.cpp -text
trunk/source/i18n/dtitvinf.cpp -text
trunk/source/i18n/tmunit.cpp -text
trunk/source/i18n/tmutamt.cpp -text
trunk/source/i18n/tmutfmt.cpp -text
trunk/source/i18n/unicode/dtitvfmt.h -text
trunk/source/i18n/unicode/dtitvinf.h -text
trunk/source/i18n/unicode/tmunit.h -text
trunk/source/i18n/unicode/tmutamt.h -text
trunk/source/i18n/unicode/tmutfmt.h -text
trunk/source/i18n/wintzimpl.cpp -text
trunk/source/i18n/wintzimpl.h -text
trunk/source/samples/layout/cgnomelayout.c -text
trunk/source/samples/ucnv/data02.bin -text
trunk/source/test/compat/tzone.pl -text
trunk/source/test/intltest/dtifmtts.cpp -text
trunk/source/test/intltest/dtifmtts.h -text
trunk/source/test/intltest/tufmtts.cpp -text
trunk/source/test/intltest/tufmtts.h -text
trunk/source/test/perf/Makefile.in -text
trunk/source/test/perf/README -text
trunk/source/test/perf/strsrchperf/Makefile.in -text
trunk/source/test/perf/strsrchperf/StrSrchPerf_r.pl -text
trunk/source/test/perf/strsrchperf/strsrchperf.cpp -text
trunk/source/test/perf/strsrchperf/strsrchperf.h -text
trunk/source/test/perf/strsrchperf/strsrchperf.vcproj -text
trunk/source/test/testdata/ConverterSelectorTestUTF16.txt -text
trunk/source/test/testdata/TestFont1.otf -text
trunk/source/test/testdata/icu26_testtypes.res -text
trunk/source/test/testdata/icu26e_testtypes.res -text
trunk/source/test/testdata/importtest.bin -text
trunk/source/test/testdata/uni-text.bin -text

# The following file types are stored in Git-LFS.
*.jar filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text

